[submodule "assets_origin"]
	path = assets_origin
	url = https://github.com/Kengxxiao/ArknightsGameData.git
[submodule "assets_origin_yostar"]
	path = assets_origin_yostar
	url = https://github.com/Kengxxiao/ArknightsGameData_YoStar.git
